/* line 1, ../app/style/partials/_style.sass */
#main {
  margin-top: 2rem;
  margin-left: 1.5%;
}

/* line 6, ../app/style/partials/_style.sass */
.test-img span {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
}
/* line 8, ../app/style/partials/_style.sass */
.test-img img {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
  width: 200px;
}

/* line 1, ../app/style/partials/_nav.sass */
.nav {
  list-style-type: none;
}
/* line 47, ../app/style/index.sass */
.nav li {
  float: left;
  margin-right: 0;
}

/* line 4, ../app/style/partials/_nav.sass */
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  color: white;
  height: 2rem;
  width: 100%;
  margin: 0;
  padding-left: 1.5%;
}
/* line 14, ../app/style/partials/_nav.sass */
.top-nav li {
  margin-right: 1rem;
  line-height: 2rem;
}
/* line 17, ../app/style/partials/_nav.sass */
.top-nav a {
  color: white;
  text-decoration: none;
}
/* line 20, ../app/style/partials/_nav.sass */
.top-nav a:hover {
  color: #cccccc;
}
