block vars
    - path = "./"
ul.nav.top-nav
    each val, index in [['index.html', 'начало'], ['articles.html' , 'статьи'], ['contacts.html','контакты']]
        li
            a(href=path+val[0])= val[1]

